<app-nav></app-nav>
<div class="container text-center">
    <div class="row">
        <div class="col">
            <h1>Filtro turnos</h1>
        </div>
    </div>
    <div class="row">
      <div class="col" *ngIf="this.as.user.perfil == 'paciente'">
        <div class="mb-3">
            <label  class="form-label">Especialista</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Nombre especialista" [(ngModel)]="filtroEspecialista">
        </div>
      </div>

      <div class="col" *ngIf="this.as.user.perfil == 'profesional'">
        <div class="mb-3">
            <label  class="form-label">Paciente</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Nombre paciente" [(ngModel)]="filtroPaciente">
        </div>
      </div>
        <div class="col">
            <div class="mb-3">
                <label  class="form-label">Especialidad</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Especialidad" [(ngModel)]="filtroEspecialidad">
            </div>
          </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
            <label  class="form-label">Filtro Mejorado</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Fecha/Hora/Paciente/Especialidad..." [(ngModel)]="filtroSupremo">
        </div>
      </div>
    </div>


    <div class="row" style="margin-top: 50px; background-color: aliceblue;" >
      <div class="col">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Especialidad</th>
                <th scope="col" *ngIf="this.as.user.perfil == 'paciente'">Especialista</th>
                <th scope="col" *ngIf="this.as.user.perfil == 'profesional'">Paciente</th>
                <th scope="col">Dia</th>
                <th scope="col">Hora</th>
                <th scope="col">Estado</th>
                <th scope="col">Accion</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let turno of this.turnos  | especialidad : filtroEspecialidad
                                                    | especialista : filtroEspecialista
                                                    | paciente : filtroPaciente
                                                    | filtroSupremo : filtroSupremo">
                <td>{{turno.profesional.especialidad}}</td>
                <td *ngIf="this.as.user.perfil == 'paciente'">{{turno.profesional.nombre}} {{turno.profesional.apellido}}</td>
                <td *ngIf="this.as.user.perfil == 'profesional'">{{turno.paciente.nombre}} {{turno.paciente.apellido}}</td>
                <td>{{turno.dia[1]}} - {{turno.dia[0]}}</td>
                <td>{{turno.hora}}</td>
                <td>{{turno.estado}}</td>
                <td> 
                    <button type="button" class="btn btn-outline-danger btn-lg" *ngIf="turno.estado == 'pendiente' && this.as.user.perfil == 'paciente'"
                    (click)="btnCancelar(turno,contentCancelacion)">Cancelar</button> 

                    <button type="button" class="btn btn-outline-warning btn-lg" *ngIf="turno.estado == 'aceptado' && this.as.user.perfil == 'profesional'"
                    (click)="btnFinalizar(turno,contentFinalizar)">Finalizar</button> 

                    <button type="button" class="btn btn-outline-danger btn-lg" *ngIf="turno.estado == 'aceptado' && this.as.user.perfil == 'profesional'"
                    (click)="btnCancelar(turno,contentCancelacion)">Cancelar</button> 


                    <button type="button" class="btn btn-outline-success btn-lg" *ngIf="turno.estado == 'pendiente' && this.as.user.perfil == 'profesional'"
                    (click)="btnAceptar(turno)">Aceptar</button> 
                    <button type="button" class="btn btn-outline-danger btn-lg" *ngIf="turno.estado == 'pendiente' && this.as.user.perfil == 'profesional'"
                    (click)="btnCancelar(turno,contentRechazar)">Rechazar</button> 


                    <button type="button" class="btn btn-outline-success btn-lg" *ngIf="turno.comentario != ''"
                    (click)="btnVerComentario(turno,contentComentario)">Ver Reseña</button> 

                    <button type="button" class="btn btn-outline-success btn-lg" *ngIf="turno.comentario != '' && turno.diagnostico != ''"
                    (click)="btnVerDiagnostico(turno,contentDiagnostico)">Ver Diagnostico</button> 

                    <button type="button" class="btn btn-outline-success btn-lg" *ngIf="turno.historia == '' && this.as.user.perfil == 'profesional'"
                    (click)="btnVerHistoriaClinica(turno,contentHistoria)">Subir Historia Clinica</button> 

                    <button type="button" class="btn btn-outline-success btn-lg" *ngIf="turno.calificacion == '' && turno.estado == 'finalizado'"
                    (click)="btnCalificarAtencion(turno,contentAtencion)">Calificar Atencion</button> 

                    <button type="button" class="btn btn-outline-success btn-lg" *ngIf="turno.comentario != '' && turno.estado == 'finalizado' && turno.encuesta == ''"
                    (click)="btnCompletarEncuesta(turno,contentEncuesta)">Completar encuesta</button> 
                </td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>

  <ng-template #contentCancelacion let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Motivo de cancelacion</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <label for="dateOfBirth">Por que quiere cancelar el turno?</label>
                <div class="input-group">
                    <textarea class="form-control" placeholder="Deje un mensaje"
                        [(ngModel)]="this.msjCancelar"></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close(this.msjCancelar)"
                [disabled]="this.msjCancelar == ''">Enviar</button>
        </div>
    </ng-template>

  <ng-template #contentHistoria let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Historia Clinica</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <label for="dateOfBirth">Altura</label>
                <div class="input-group">
                    <textarea class="form-control" placeholder="Altura"
                        [(ngModel)]="this.altura"></textarea>
                </div>
            </div>
            <div class="mb-3">
                <label for="dateOfBirth">Peso</label>
                <div class="input-group">
                    <textarea class="form-control" placeholder="Peso"
                        [(ngModel)]="this.peso"></textarea>
                </div>
            </div>
            <div class="mb-3">
                <label for="dateOfBirth">Temperatura</label>
                <div class="input-group">
                    <textarea class="form-control" placeholder="Temperatura"
                        [(ngModel)]="this.temperatura"></textarea>
                </div>
            </div>
            <div class="mb-3">
                <label for="dateOfBirth">Presion</label>
                <div class="input-group">
                    <textarea class="form-control" placeholder="Presion"
                        [(ngModel)]="this.presion"></textarea>
                </div>
            </div>

            <div class="mb-3">
                <label for="dateOfBirth">Datos Dinamico 1</label>
                <div class="input-group">
                    <textarea class="form-control" placeholder="Clave"
                        [(ngModel)]="this.clave1"></textarea>
                </div>
            </div>
            
            <div class="mb-3">
                <div class="input-group">
                    <textarea class="form-control" placeholder="Valor"
                        [(ngModel)]="this.valor1"></textarea>
                </div>
            </div>

            <div *ngIf="this.dinamico >= 2">
                <div class="mb-3">
                    <label for="dateOfBirth">Datos Dinamico 2</label>
                    <div class="input-group">
                        <textarea class="form-control" placeholder="Clave"
                            [(ngModel)]="this.clave2"></textarea>
                    </div>
                </div>
                
                <div class="mb-3">
                    <div class="input-group">
                        <textarea class="form-control" placeholder="Valor"
                            [(ngModel)]="this.valor2"></textarea>
                    </div>
                </div>
            </div>

            <div *ngIf="this.dinamico > 2">
                <div class="mb-3">
                    <label for="dateOfBirth">Datos Dinamico 3</label>
                    <div class="input-group">
                        <textarea class="form-control" placeholder="Clave"
                            [(ngModel)]="this.clave3"></textarea>
                    </div>
                </div>
                
                <div class="mb-3">
                    <div class="input-group">
                        <textarea class="form-control" placeholder="Valor"
                            [(ngModel)]="this.valor3"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="agregarCampo()"
                [disabled]="this.dinamico == 3 ">Agregar</button>

            <button type="button" class="btn btn-outline-dark" (click)="modal.close(this.msjCancelar)"
                [disabled]="this.presion == ''">Enviar</button>
        </div>
    </ng-template>

  <ng-template #contentFinalizar let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Cierre del turno</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <label for="dateOfBirth">Mensaje sobre el turno</label>
                <div class="input-group">
                    <textarea class="form-control" placeholder="Deje un mensaje"
                        [(ngModel)]="this.msjCancelar"></textarea>
                </div>
            </div>

            <div class="mb-3">
                <label for="dateOfBirth">Diagnostico</label>
                <div class="input-group">
                    <textarea class="form-control" placeholder="Deje un diagnostico"
                        [(ngModel)]="this.msjDiagnostico"></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close(this.msjCancelar)"
                [disabled]="this.msjCancelar == ''">Enviar</button>
        </div>
    </ng-template>

  <ng-template #contentRechazar let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Motivo del rechazo</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <label for="dateOfBirth">Por que quiere rechazar el turno?</label>
                <div class="input-group">
                    <textarea class="form-control" placeholder="Deje un mensaje"
                        [(ngModel)]="this.msjCancelar"></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close(this.msjCancelar)"
                [disabled]="this.msjCancelar == ''">Enviar</button>
        </div>
    </ng-template>

  <ng-template #contentEncuesta let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Encuesta de atencion</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <label for="dateOfBirth">Volveria a asistir a esta clinica?</label>
                <div class="input-group">
                    <textarea class="form-control" placeholder="Deje un mensaje"
                        [(ngModel)]="this.msjCancelar"></textarea>
                </div>
            </div>
            <div class="mb-3">
                <label for="dateOfBirth">Que tan satisfactoria fue su atencion 1-10</label>
                <div class="input-group">
                    <mat-slider
                        thumbLabel
                        tickInterval="1"
                        step="1"
                        min="1"
                        max="10"
                        aria-label="units"
                        [(ngModel)]="slideEncuesta"></mat-slider>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close(this.msjCancelar)"
                [disabled]="this.msjCancelar == ''">Enviar</button>
        </div>
    </ng-template>

    <ng-template #contentAtencion let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Deje un comentario sobre su atencion</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <div class="input-group">
                    <textarea class="form-control" placeholder="Deje un mensaje"
                        [(ngModel)]="this.msjCancelar"></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close(this.msjCancelar)"
                [disabled]="this.msjCancelar == ''">Enviar</button>
        </div>
    </ng-template>

    <ng-template #contentComentario let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Mensaje de reseña</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <label for="dateOfBirth">{{this.msjComentario}}</label>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">Cerrar</button>
        </div>
    </ng-template>

    <ng-template #contentDiagnostico let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Diagnostico del paciente</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <label for="dateOfBirth">{{this.msjComentario}}</label>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">Cerrar</button>
        </div>
    </ng-template>