mat-slider {
    width: 300px;
  }

.mat-accent .mat-slider-track-fill {
    background-color: red !important;
}

.mat-slider-thumb-label {
    background-color: red !important;

}

.mat-slider-thumb {
    background-color: red !important;
}