<div class="wrapper">
	<div class="logo">
		<img src="../../../assets/3140366.png" alt="">
	</div>
	<div class="text-center mt-4 name">
		Clinica OnLine
	</div>
	<form class="p-3 mt-3" [formGroup]="grupoControles" (ngSubmit)="iniciarSesion()">
		<div class="form-field d-flex align-items-center">
			<input type="text" name="userName" placeholder="Correo" formControlName="email">
			<small class="invalid" *ngIf="this.grupoControles.get('email')?.errors?.['required'] && this.grupoControles.get('email')?.touched">El correo es requerido
			</small>
		</div>
		<div class="form-field d-flex align-items-center">
			<input type="password" name="password" placeholder="Clave" formControlName="clave">
			<small class="invalid" *ngIf="this.grupoControles.get('clave')?.errors?.['required'] && this.grupoControles.get('clave')?.touched">La clave es requerida
			</small>
		</div>
		<div class="d-flex justify-content-center" *ngIf="cargando">
			<div class="spinner-border" role="status">
		</div>
		</div>
		<button class="btn mt-3" [disabled]='grupoControles.invalid' >Ingresar</button>
	</form>
	<div class="text-center fs-6">
		<a [routerLink]="['/registro']">Registarse</a>
	</div>
	<div style="border: 3px solid rgb(153, 145, 145); margin-top:20px;">
		<div class="text-center fs-6" style="margin-top: 10px;">
			<h2 style="text-decoration:underline;">Inicio Rapido</h2>
		</div>
		
		<div class="text-center fs-6 " style="margin-top: 20px;">
			<div class="row align-items-start">
				<div class="col logo" style="margin-bottom: 20px;">
					<img src="{{this.pacientes[0].foto}}"  style="height: 80px; width: 80px;" class="card-img-top" alt="..."
					(click)="inicioRapido(1)">
				</div>
				<div class="col logo" style="margin-bottom: 20px;">
					<img src="{{this.pacientes[1].foto}}"  style="height: 80px; width: 80px;" class="card-img-top" alt="..."
					(click)="inicioRapido(2)">
				</div>
				<div class="col logo" style="margin-bottom: 20px;">
					<img src="{{this.pacientes[2].foto}}"  style="height: 80px; width: 80px;" class="card-img-top" alt="..."
					(click)="inicioRapido(3)">
				</div>
				<div class="col logo" style="margin-bottom: 20px;">
					<img src="{{this.profesionales[0].foto}}"  style="height: 80px; width: 80px;" class="card-img-top" alt="..."
					(click)="inicioRapido(4)">
				</div>
				<div class="col logo" style="margin-bottom: 20px;">
					<img src="{{this.profesionales[1].foto}}"  style="height: 80px; width: 80px;" class="card-img-top" alt="..."
					(click)="inicioRapido(5)">
				</div>
				<div class="col logo" style="margin-bottom: 20px;">
					<img src="../../../assets/admin.png"  style="height: 80px; width: 80px;" class="card-img-top" alt="..."
					(click)="inicioRapido(6)">
				</div>
			  </div>
		</div>
	</div>
</div>

